<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="Replace">
    <add name="IntegrationDB" connectionString="Data Source=V-DKSQL-UTV;Initial Catalog=IntegrationDB;Integrated Security=false;User ID=staginguser;Password=P@ssw0rd1"/>
  </connectionStrings>
  <appSettings xdt:Transform="Replace">
    <add key="CrmServerUrl" value="http://v-dkcrm-utv/Skanetrafiken"/>
    <add key="Domain" value="D1"/>
    <add key="Username" value="CRMAdmin"/>
    <add key="Password" value="uSEme2!nstal1"/>
  </appSettings>
</configuration>