<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="2.1.2" targetFramework="net452" />
  <package id="Endeavor.Crm.Extensions.EntityExtensionMethods" version="2018.05.23" targetFramework="net452" />
  <package id="Endeavor.Crm.Plugin" version="2018.04.24" targetFramework="net452" />
  <package id="Endeavor.Crm.XrmHelper" version="2019.06.03" targetFramework="net452" />
  <package id="Endeavor.Crm.XrmRetrieveHelper" version="2016.12.13" targetFramework="net452" />
  <package id="jose-jwt" version="2.2.0" targetFramework="net452" requireReinstallation="true" />
  <package id="log4net" version="2.0.5" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.CrmSdk.CoreAssemblies" version="9.0.2.23" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.Deployment" version="9.0.2.23" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.Workflow" version="9.0.2.23" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.XrmTooling.CoreAssembly" version="9.1.0.51" targetFramework="net462" />
  <package id="Microsoft.Identity.Client" version="4.15.0" targetFramework="net452" />
  <package id="Microsoft.IdentityModel" version="6.1.7600.16394" targetFramework="net452" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="3.19.8" targetFramework="net462" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.20" targetFramework="net462" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net452" />
  <package id="Swashbuckle" version="5.4.0" targetFramework="net452" />
  <package id="Swashbuckle.Core" version="5.4.0" targetFramework="net452" />
  <package id="System.Runtime" version="4.1.0" targetFramework="net452" requireReinstallation="true" />
  <package id="WebActivatorEx" version="2.0" targetFramework="net452" />
</packages>