<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings>
    <add key="TokenValidation" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="TokenEncryptionEnabled" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="MKLTokenCertificateName" value="SE162321000255-F16679" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="InternalTokenCertificateName" value="SE162321000255-F16675" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="EcommerceTokenCertificateName" value="SE162321000255-F16678" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SeKundFasadenCertificateName" value="crm-sekundfasaden-acc-sp" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>


  <connectionStrings>
    <!--<add name="Server=Skanetrafiken-DK, organization=DKCRM"
      connectionString="Url=https://sekunduat.skanetrafiken.se/DKCRM; RequireNewInstance=True; authtype=AD"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>-->
    
    <!--<add name="Server=Skanetrafiken-DK, organization=DKCRM" connectionString="Url=https://sekunduat.skanetrafiken.se/DKCRM; Domain=D1; Username=D1\CRMAdmin; Password=[Encrypted];" />-->
	  <!--<add name="CrmConnection, organization=V9CRMUAT, user=D1\CRMAdmin" connectionString="Url=https://v9sekunduat.skanetrafiken.se/V9CRMUAT; Domain=D1; Username=CRMAdmin; Password=[Encrypted]; authtype=IFD" />-->
	<add name="Server=Skanetrafiken-DK, organization=DKCRMACC" connectionString="Url=https://sekundacc.skanetrafiken.se/DKCRMACC; RequireNewInstance=True; authtype=AD" />
  </connectionStrings>

  <applicationSettings>
    <Skanetrafiken.Crm.Properties.Settings>
      <add name="ehandeladdressCardDetails" value="http://www.skanetrafiken.com/DK/INTSTDK004/GetCardDetails2/20141216" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
      <add name="soapActionAddressCardDetails" value="http://stipacc.skanetrafiken.se/INTSTDK004" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
      <add name="cardDetailsServiceAddressCardDetails" value="http://stipacc.skanetrafiken.se/INTSTDK004/CardDetails2.svc" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    </Skanetrafiken.Crm.Properties.Settings>
  </applicationSettings>

  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>

  <system.webServer xdt:Transform="Replace">
	  <modules>
		  <remove name="TelemetryCorrelationHttpModule" />
		  <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="managedHandler" />
		  <remove name="ApplicationInsightsWebTracking" />
		  <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
	  </modules>
	  <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <security>
      <authentication>
        <iisClientCertificateMappingAuthentication enabled="true" oneToOneCertificateMappingsEnabled="true">
          <manyToOneMappings>
            <add name="MittKonto" description="Allow mittkonto" userName="d1\svcCRMAPP01A" password="[enc:AesProvider:hyfFz+rQ91YK+aVa1MVdCYYALm/vUBu1lkncs75/YbJY5mpPFI+sHDQ9jvCHPkB9lZyyz3Yj5fW0qfZw9QeYxQ==:enc]">
              <rules>
                <add certificateField="Subject" certificateSubField="C" matchCriteria="se" compareCaseSensitive="false" />
              </rules>
            </add>
          </manyToOneMappings>
        </iisClientCertificateMappingAuthentication>
      </authentication>
    </security>
  </system.webServer>
</configuration>