<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configSections xdt:Transform="Replace">
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CGIXrmGetOrders.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <appSettings xdt:Transform="Replace">
    <add key="GetOrdersService" value="http://v-dkcrm-tst:4500/CGIXrmGetOrdersService/GetOrdersService.svc" />
    <add key="CreditOrderService" value="http://v-dkbiz-tst.int.skanetrafiken.com/INTSTDK008/CreditOrders.svc" />
    <add key="OrderSoapActionAddress" value="http://v-dkbiz-tst.int.skanetrafiken.com/INTSTDK008"/>
    <add key="OrderServiveAddress" value="http://v-dkbiz-tst.int.skanetrafiken.com/INTSTDK008/Orders.svc"/>
    <add key="Orderehandeladdress" value="http://www.skanetrafiken.com/DK/INTSTDK008/GetOrders/20141031"/>
    <add key="CreditSoapActionAddress" value="http://v-dkbiz-tst.int.skanetrafiken.com/INTSTDK008"/>
    <add key="CreditServiveAddress" value="http://v-dkbiz-tst.int.skanetrafiken.com/INTSTDK008/CreditOrders.svc"/>
    <add key="Creditehandeladdress" value="http://www.skanetrafiken.com/DK/INTSTDK008/CreditOrder/20141031"/>
    <add key="CrmServerUrl" value="http://v-dkcrm-tst/DKCRM"/>
    <add key="Domain" value="D1"/>
    <add key="Username" value=" "/>
    <add key="Password" value=" "/>
  </appSettings>

  <connectionStrings xdt:Transform="Replace">
    <add name="IntegrationDB" connectionString="Data Source=V-DKSQL2-TST;Initial Catalog=IntegrationDB;Integrated Security=false;User ID=crmstaginguser;Password=P@ssw0rd1"/>
  </connectionStrings>

  <system.web xdt:Transform="Replace">
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>

  <system.serviceModel xdt:Transform="Replace">
    <bindings>
      <basicHttpBinding>
        <binding maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text">
          <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpBinding" scheme="http" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>

  <system.webServer xdt:Transform="Replace">
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>

  <applicationSettings xdt:Transform="Replace">
    <CGIXrmGetOrders.Properties.Settings>
      <setting name="CGIXrmGetOrders_GetOrdersServiceReference_BizTalkServiceInstance"
        serializeAs="String">
        <value>http://v-dkbiz-tst.int.skanetrafiken.com/INTSTDK008/Orders.svc</value>
      </setting>
      <setting name="CGIXrmGetOrders_CreditOrderServiceReference_BizTalkServiceInstance"
        serializeAs="String">
        <value>http://v-dkbiz-tst.int.skanetrafiken.com/INTSTDK008/CreditOrders.svc</value>
      </setting>
    </CGIXrmGetOrders.Properties.Settings>
  </applicationSettings>
</configuration>