<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Endeavor.Crm.UnitTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Skanetrafiken.Crm.Workflow.UnitTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Endeavor.Crm.UnitTest.Properties.Settings>
            <setting name="UseDefaultCredentials" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HomeRealmUri" serializeAs="String">
                <value />
            </setting>
            <setting name="EndpointType" serializeAs="String">
                <value>ActiveDirectory</value>
            </setting>
            <setting name="DiscoveryUri" serializeAs="String">
                <value>https://crm.endeavor.se:1446/XRMServices/2011/Discovery.svc</value>
            </setting>
            <setting name="Domain" serializeAs="String">
                <value>endeavor</value>
            </setting>
            <setting name="OrganizationName" serializeAs="String">
                <value>SkanetrafikenDev</value>
            </setting>
            <setting name="OrganizationUri" serializeAs="String">
                <value>https://crm.endeavor.se:1446/DKCRM/XRMServices/2011/Organization.svc</value>
            </setting>
            <setting name="ServerAddress" serializeAs="String">
                <value>https://crm.endeavor.se:1446</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="UserPrincipalName" serializeAs="String">
                <value />
            </setting>
        </Endeavor.Crm.UnitTest.Properties.Settings>
        <Skanetrafiken.Crm.Workflow.UnitTest.Properties.Settings>
            <setting name="UseDefaultCredentials" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HomeRealmUri" serializeAs="String">
                <value />
            </setting>
            <setting name="EndpointType" serializeAs="String">
                <value>ActiveDirectory</value>
            </setting>
            <setting name="DiscoveryUri" serializeAs="String">
                <value>https://crm.endeavor.se:1446/XRMServices/2011/Discovery.svc</value>
            </setting>
            <setting name="Domain" serializeAs="String">
                <value>endeavor</value>
            </setting>
            <setting name="OrganizationName" serializeAs="String">
                <value>SkanetrafikenDev</value>
            </setting>
            <setting name="OrganizationUri" serializeAs="String">
                <value>https://crm.endeavor.se:1446/DKCRM/XRMServices/2011/Organization.svc</value>
            </setting>
            <setting name="ServerAddress" serializeAs="String">
                <value>crm.endeavor.se</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>teoost</value>
            </setting>
            <setting name="UserPrincipalName" serializeAs="String">
                <value />
            </setting>
        </Skanetrafiken.Crm.Workflow.UnitTest.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Xrm.Sdk" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>