<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Endeavor.Crm.UnitTest.Base" version="2016.04.29" targetFramework="net452" />
  <package id="Microsoft.CrmSdk.CoreAssemblies" version="8.1.0.2" targetFramework="net452" />
  <package id="Microsoft.CrmSdk.Deployment" version="8.1.0.2" targetFramework="net452" />
  <package id="Microsoft.IdentityModel" version="6.1.7600.16394" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net452" />
  <package id="NUnit" version="3.11.0" targetFramework="net452" />
  <package id="NUnit3TestAdapter" version="3.11.0" targetFramework="net452" />
  <package id="RhinoMocks" version="3.6.1" targetFramework="net452" />
</packages>