<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Replace">
    <add key="GetOrdersService" value="http://stipacc.skanetrafiken.se/INTSTDK008/Orders.svc" />
    <add key="CreditOrderService" value="http://stipacc.skanetrafiken.se/INTSTDK008/CreditOrders.svc" />
    <add key="OrderSoapActionAddress" value="http://stipacc.skanetrafiken.se/INTSTDK008"/>
    <add key="OrderServiveAddress" value="http://stipacc.skanetrafiken.se/INTSTDK008/Orders.svc"/>
    <add key="Orderehandeladdress" value="http://www.skanetrafiken.com/DK/INTSTDK008/GetOrders/20141031"/>
    <add key="CreditSoapActionAddress" value="http://stipacc.skanetrafiken.se/INTSTDK008"/>
    <add key="CreditServiveAddress" value="http://stipacc.skanetrafiken.se/INTSTDK008/CreditOrders.svc"/>
    <add key="Creditehandeladdress" value="http://www.skanetrafiken.com/DK/INTSTDK008/CreditOrder/20141031"/>
    <add key="CrmServerUrl" value="https://sekunduat.skanetrafiken.se/DKCRMUAT"/>
    <add key="Domain" value="D1"/>
    <add key="Username" value="CRMAdmin"/>
    <add key="Password" value="uSEme2!nstal1"/>
  </appSettings>
</configuration>