<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Skanetrafiken.Crm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="Skanetrafiken.WebApi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <log4net configSource="log4net.config"/>
  <appSettings>
    <add key="TokenValidation" value="true"/>
    <add key="TokenEncryptionEnabled" value="true"/>
    <add key="MKLTokenCertificateName" value="SE162321000255-F16679"/>
    <add key="MKLTokenHeaderName" value="X-StMklToken"/>
    <add key="InternalTokenCertificateName" value="SE162321000255-F16675"/>
    <add key="InternalTokenHeaderName" value="X-CRMPlusToken"/>
  </appSettings>
  <connectionStrings>
    <add name="Server=Skanetrafiken-DK, organization=DKCRM" connectionString="Url=https://crm.endeavor.se:1444/SkanetrafikenDev; RequireNewInstance=True; authtype=AD"/>
    <!-- Connectionstring för Skånes Testmiljö, kräver annan Credentials-fil -->
    <!--<add name="Server=Skanetrafiken-DK, organization=DKCRMTEST" connectionString="Url=http://v-dkcrm-tst/DKCRMTEST; Domain=D1; Username=CRMAdmin; Password=[Encrypted];"/>-->
    <!--<add name="Server=Skanetrafiken-DK, organization=DKCRM" connectionString="Url=http://v-dkcrm-tst/DKCRM; Domain=D1; Username=svcCRMAPP01T; Password=[Encrypted];"/>-->
  </connectionStrings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5"/>
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5"/>
    <customErrors mode="Off"/>
  </system.web>
  <applicationSettings>
    <Skanetrafiken.Crm.Properties.Settings>
      <setting name="CredentialsFilePath" serializeAs="String">
        <value>%PROGRAMDATA%\Endeavor\Skanetrafiken.WebApi.Credential.xml</value>
      </setting>
      <setting name="ehandeladdressCardDetails" serializeAs="String">
        <value>http://www.skanetrafiken.com/DK/INTSTDK004/GetCardDetails2/20141216</value>
      </setting>
      <setting name="soapActionAddressCardDetails" serializeAs="String">
        <value>http://stip.skanetrafiken.se/INTSTDK004</value>
      </setting>
      <setting name="cardDetailsServiceAddressCardDetails" serializeAs="String">
        <value>http://stip.skanetrafiken.se/INTSTDK004/CardDetails2.svc</value>
      </setting>
    </Skanetrafiken.Crm.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Xrm.Sdk" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Crm.Sdk.Proxy" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.22.0.0" newVersion="2.22.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory.WindowsForms" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.22.0.0" newVersion="2.22.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Xrm.Sdk.Deployment" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
</configuration>
