<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Skanetrafiken.Crm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="Endeavor.Crm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Skanetrafiken.Crm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="Endeavor.Crm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Xrm.Sdk" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <Skanetrafiken.Crm.Properties.Settings>
      <setting name="UpdateTopicOnUnderlyingLeadsGuid" serializeAs="String">
        <value>3923AB49-FE17-4726-BA8B-18B33DBFBCEB</value>
      </setting>
      <setting name="UpdateLeadSourceOnUnderlyingLeadsGuid" serializeAs="String">
        <value>42CB6253-FC69-407C-95AB-5B31AE20E940</value>
      </setting>
      <setting name="test1" serializeAs="String">
        <value>11</value>
      </setting>
      <setting name="CRMTravelInformationDBUseIntegratedSecurity" serializeAs="String">
        <value>True</value>
      </setting>
    </Skanetrafiken.Crm.Properties.Settings>
   
  </applicationSettings>
  <userSettings>
    <Skanetrafiken.Crm.Properties.Settings>
      <setting name="CRMTravelInformationDBServerName" serializeAs="String">
        <value>ED-SQL1\CRM1</value>
      </setting>
      <setting name="CRMTravelInformationDBName" serializeAs="String">
        <value>PubTrans_Staging</value>
      </setting>
    </Skanetrafiken.Crm.Properties.Settings>
  </userSettings>
</configuration>
