<?xml version="1.0"?>
<configuration>
  <configSections> 
   
    <section name="KbExternalWeb" type="EPiServer.Find.Configuration,EPiServer.Find" requirePermission="false" />
    <section name="KbIntranet" type="EPiServer.Find.Configuration,EPiServer.Find" requirePermission="false" />

  </configSections>
  <KbExternalWeb serviceUrl="http://es-eu-api01.episerver.net/dbRWA82OePBQawPppKuIfi9kirKnly3p/" defaultIndex="regionskaneskanetrafiken_index72732" />
  <KbIntranet serviceUrl="http://es-eu-api01.episerver.net/oJkTCERBm1VPf4iwsBsd6VXFBOtsFelv/" defaultIndex="regionskaneskanetrafiken_index54092" />
  <appSettings>
    <add key="CrmServerUrl" value="https://sekund.skanetrafiken.se/DKCRM" />
    <add key="Domain" value="D1" />
    <add key="Username" value="CrmAdmin" />
    <add key="Password" value="uSEme2!nstal1" />
    <add key="CaseUrl" value="https://sekund.skanetrafiken.se/DKCRM/main.aspx?etc=112&amp;extraqs=id=%7b{0}%7d&amp;pagetype=entityrecord" />
  </appSettings>
  <connectionStrings>
    <add name="PubTransStaging" connectionString="Data Source=CLCMSDB-SQL1;Initial Catalog=PubTrans_Staging;Integrated Security=false;User ID=crmstaginguser;Password=P@ssw0rd1" />
  </connectionStrings>
  <system.web>
    <compilation targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ITwoWayAsync" 
	maxReceivedMessageSize="2147483647" maxBufferSize="2147483647"
                 closeTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
	/>
        <binding name="BasicHttpBinding_ITwoWayAsync1" 
	maxReceivedMessageSize="2147483647" maxBufferSize="2147483647"
                 closeTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
	/>
	<binding maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://stip.skanetrafiken.se/INTSTDK001/DirectJourneysBetweenStops.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITwoWayAsync" contract="SvcDirectJourneyBetweenStops.DirectJourneysBetweenStops" name="BasicHttpBinding_ITwoWayAsync" />
      <endpoint address="http://stip.skanetrafiken.se/INTSTDK001/CallsForServiceJourney.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITwoWayAsync1" contract="SvcCallsForServiceJourney.CallsForServiceJourney" name="BasicHttpBinding_ITwoWayAsync1" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483646" />
        </behavior>        
      </serviceBehaviors>
    </behaviors>
    
    <services>
      
    </services>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  
</configuration>
