<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Replace">
    <add key="CrmServerUrl" value="http://v-dkcrm-utv/Skanetrafiken"/>
    <add key="Domain" value="D1"/>
    <add key="Username" value="CrmAdmin"/>
    <add key="Password" value="uSEme2!nstal1"/>
  </appSettings>
</configuration>