################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
obj
bin
.vs
*.user
/CRM/MainAffarsRegler/Skanetrafiken.Crm/packages
/CRM/Main/Skanetrafiken.Crm/packages
/CRM/Main/Skanetrafiken.UECCIntegration/Endeavor.BiffIntegration.log_20200506.log
/CRM/Main/Skanetrafiken.UECCIntegration/Endeavor.UECCIntegration.log_20200506.log
/CRM/Main/Skanetrafiken.UECCIntegration/Endeavor.UECCIntegration.log_20200507.log
/CRM/Main/Skanetrafiken.UECCIntegration/Endeavor.UECCIntegration.log_20200508.log
/CRM/Main/Skanetrafiken.UpSalesMigration/Endeavor.UpSalesMigration.log_20200518.log
/CRM/Main/Skanetrafiken.UpSalesMigration/Endeavor.UpSalesMigration.log_20200521.log
/CRM/Main/Skanetrafiken.UpSalesMigration/Endeavor.UpSalesMigration.log_20200522.log
/CRM/MainAffarsRegler/Skanetrafiken.UECCIntegration/Endeavor.ErrorContacts.log
/DK/Development/Release/CRM2016 Upgrade 1.0_2019.02.01.1/UpgradeLog.htm
/DK/Development/CRM2016 Upgrade 1.0/UpgradeLog3.htm
/CRM/MainAffarsRegler/Skanetrafiken.WebApi/Skanetrafiken.WebApi.csproj.vspscc
*.tf1
*.vspscc
/DK/Development/Main/UpgradeLog2.htm
