################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
obj
bin
.vs
*.user
/CRM/MainAffarsRegler/Skanetrafiken.Crm/packages
/CRM/Main/Skanetrafiken.Crm/packages
