################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
obj
bin
.vs
*.user
/CRM/MainAffarsRegler/Skanetrafiken.Crm/packages
/CRM/Main/Skanetrafiken.Crm/packages
/CRM/Main/Skanetrafiken.UECCIntegration/Endeavor.BiffIntegration.log_20200506.log
/CRM/Main/Skanetrafiken.UECCIntegration/Endeavor.UECCIntegration.log_20200506.log
/CRM/Main/Skanetrafiken.UECCIntegration/Endeavor.UECCIntegration.log_20200507.log
/CRM/Main/Skanetrafiken.UECCIntegration/Endeavor.UECCIntegration.log_20200508.log
/CRM/Main/Skanetrafiken.UpSalesMigration/Endeavor.UpSalesMigration.log_20200518.log
