<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Replace">
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="CrmServerUrl" value="http://V-DKCRM-UTV/DKCRM"/>
    <add key="Domain" value="D1"/>
    <add key="Username" value="CRMAdmin"/>
    <add key="Password" value="uSEme2!nstal1"/>
  </appSettings>

  <connectionStrings xdt:Transform="Replace">
    <add name="IntegrationDB" connectionString="Data Source=V-DKSQL-UTV;Initial Catalog=IntegrationDB;Integrated Security=false;User ID=staginguser;Password=P@ssw0rd1"/>
  </connectionStrings>

  <system.web xdt:Transform="Replace">
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>

  <system.serviceModel xdt:Transform="Replace">
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>

  <system.webServer xdt:Transform="Replace">
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>
