<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings configSource="connections.Dev.config"  xdt:Transform="Replace" xdt:Locator="Match(configSource)" />
	<applicationSettings>
		<Endeavor.Crm.DeltabatchService.Properties.Settings>
			<setting name="DeltabatchSendFileLocation" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
				<value>.</value>
			</setting>
			<setting name="DeltabatchRetrievedFileLocation" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
				<value>.\RetrievedFiles.csv</value>
			</setting>
			<setting name="CredentialsFilePath" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
				<value>.\DeltabatchService.Credential.xml</value>
			</setting>
			<setting name="FileDownloadScheduleCronExpression" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
				<value>00 00 02 1/1 * ? *</value>
			</setting>
			<setting name="FileUploadScheduleCronExpression" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
				<value>0 0 13 1/1 * ? *</value>
			</setting>
		</Endeavor.Crm.DeltabatchService.Properties.Settings>
	</applicationSettings>
</configuration>