<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configSections xdt:Transform="Replace">
    <section name="KbExternalWeb" type="EPiServer.Find.Configuration,EPiServer.Find" requirePermission="false" />
    <section name="KbIntranet" type="EPiServer.Find.Configuration,EPiServer.Find" requirePermission="false" />
  </configSections>
  
  <KbExternalWeb serviceUrl="http://es-eu-dev-api01.episerver.net/n6T21wOc4IcITb3XMWM79taQE83hhMfo" defaultIndex="svenssonpc_accew" xdt:Transform="Replace" />
  <KbIntranet serviceUrl="http://es-eu-dev-api01.episerver.net/uLnSwxmRH1gWzsoLwboaWBXTrl7ckbDa" defaultIndex="svenssonpc_accvhp" xdt:Transform="Replace" />
  
  <appSettings xdt:Transform="Replace">
    <add key="CrmServerUrl" value="http://v-dkcrm-utv/Skanetrafiken" />
    <add key="Domain" value="D1" />
    <add key="Username" value="CrmAdmin" />
    <add key="Password" value="uSEme2!nstal1" />
    <add key="CaseUrl" value="http://dev03/Skanetrafiken/main.aspx?etc=112&amp;extraqs=id=%7b{0}%7d&amp;pagetype=entityrecord"  />
  </appSettings>
  
  <connectionStrings xdt:Transform="Replace">
    <add name="IntegrationDB" connectionString="Data Source=V-DKSQL-UTV;Initial Catalog=IntegrationDB;Integrated Security=false;User ID=StagingCRMSqlUser;Password=SSU01Login"/>
    <add name="PubTransStaging" connectionString="Data Source=V-DKSQL-UTV;Initial Catalog=PubTrans_Staging;Integrated Security=false;User ID=sa;Password=P@ssw0rd1" />
  </connectionStrings>
  
  <system.web xdt:Transform="Replace">
    <compilation targetFramework="4.0" />
  </system.web>
  
  <system.serviceModel xdt:Transform="Replace">
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ITwoWayAsync" maxBufferPoolSize="524288" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_ITwoWayAsync1" maxBufferPoolSize="524288" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://v-dkbiz-tst.int.skanetrafiken.com/INTSTDK001/DirectJourneysBetweenStops.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITwoWayAsync" contract="SvcDirectJourneyBetweenStops.DirectJourneysBetweenStops" name="BasicHttpBinding_ITwoWayAsync" />
      <endpoint address="http://v-dkbiz-tst.int.skanetrafiken.com/INTSTDK001/CallsForServiceJourney.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITwoWayAsync1" contract="SvcCallsForServiceJourney.CallsForServiceJourney" name="BasicHttpBinding_ITwoWayAsync1" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483646" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services />
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  
  <system.webServer xdt:Transform="Replace">
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
</configuration>
