<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configSections xdt:Transform="Replace">
    <section name="KbExternalWeb" type="EPiServer.Find.Configuration,EPiServer.Find" requirePermission="false" />
    <section name="KbIntranet" type="EPiServer.Find.Configuration,EPiServer.Find" requirePermission="false" />
	<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <KbExternalWeb serviceUrl="http://es-api01.episerver.com/hQfEbfXA9I6uFdrB5GVBNHa8rFPDCFNp/" defaultIndex="emmaeriksson_knowledgebase" xdt:Transform="Replace" />
  <KbIntranet serviceUrl="http://es-api01.episerver.com/3XQ6kkHtciNbHiR9ahbuOhHahRLUS1G3/" defaultIndex="emmaeriksson_knbinternal" xdt:Transform="Replace" />
  
  <appSettings xdt:Transform="Replace">
    <add key="CrmServerUrl" value="https://sekundtst.skanetrafiken.se/DKCRMTST"/>
    <add key="Domain" value="D1"/>
    <add key="Username" value="svcCRMExtConServTST"/>
    <add key="Password" value="9aWD!?bCteEbHX2IWs-Yhjse"/>
    <add key="ConnectionString" value="Url=https://sekundtst.skanetrafiken.se/DKCRMTST; Domain=D1; Username=D1\svcCRMExtConServTST; Password=9aWD!?bCteEbHX2IWs-Yhjse; authtype=IFD" />
    <add key="CaseUrl" value="https://sekundtst.skanetrafiken.se/DKCRMTST/main.aspx?etc=112&amp;extraqs=id=%7b{0}%7d&amp;pagetype=entityrecord"/>
  </appSettings>

  <connectionStrings xdt:Transform="Replace">
	  <add name="PubTransStaging" connectionString="Data Source=AG-SQL5-CRM-ACC;Initial Catalog=PubTrans_Staging;Integrated Security=false;User ID=crmstaginguser;Password=%K34hnasR31Ter56!" />
  </connectionStrings>

  <system.web xdt:Transform="Replace">
	 
		  <compilation debug="true" targetFramework="4.7.2" />
		  <pages controlRenderingCompatibilityVersion="4.0" />
	  
  </system.web>

  <system.serviceModel xdt:Transform="Replace">
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ITwoWayAsync" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" closeTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" />
        <binding name="BasicHttpBinding_ITwoWayAsync1" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" closeTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://stipacc.skanetrafiken.se/INTSTDK001/DirectJourneysBetweenStops.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITwoWayAsync"
        contract="SvcDirectJourneyBetweenStops.DirectJourneysBetweenStops"
        name="BasicHttpBinding_ITwoWayAsync" />
      <endpoint address="http://stipacc.skanetrafiken.se/INTSTDK001/CallsForServiceJourney.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITwoWayAsync1"
        contract="SvcCallsForServiceJourney.CallsForServiceJourney"
        name="BasicHttpBinding_ITwoWayAsync1" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483646"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services />
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>

  <system.webServer xdt:Transform="Replace">
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>