<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configSections xdt:Transform="Replace">
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="KbExternalWeb" type="EPiServer.Find.Configuration,EPiServer.Find" requirePermission="false" />
    <section name="KbIntranet" type="EPiServer.Find.Configuration,EPiServer.Find" requirePermission="false" />
  </configSections>
  <KbExternalWeb serviceUrl="http://es-eu-api01.episerver.net/XO6wlfT3oxlefRhLDvpxAvo9gsrIuF8m" defaultIndex="regionskaneskanetrafiken_index81373" xdt:Transform="Replace"/>
  <KbIntranet serviceUrl="http://es-eu-api01.episerver.net/mI8c9rEE9e8XPepqI01CVkxyT4cUf14E" defaultIndex="regionskaneskanetrafiken_index72868" xdt:Transform="Replace"/>

  <appSettings xdt:Transform="Replace">
    <add key="CrmServerUrl" value="https://sekundacc.skanetrafiken.se/DKCRMACC" />
    <add key="ConnectionString" value="Url=https://sekundacc.skanetrafiken.se/DKCRMACC; Domain=D1; Username=D1\CRMAdmin; Password=uSEme2!nstal1; authtype=IFD" />
    <add key="Domain" value="D1" />
    <add key="Username" value="CrmAdmin" />
    <add key="Password" value="uSEme2!nstal1" />
    <add key="CaseUrl" value="https://sekundacc.skanetrafiken.se/DKCRMACC/main.aspx?etc=112&amp;extraqs=id=%7b{0}%7d&amp;pagetype=entityrecord" />
  </appSettings>

  <connectionStrings xdt:Transform="Replace">
    <add name="PubTransStaging" connectionString="Data Source=AG-SQL5-CRM-ACC;Initial Catalog=PubTrans_Staging;Integrated Security=false;User ID=crmstaginguser;Password=%K34hnasR31Ter56!" />
  </connectionStrings>

  <system.web xdt:Transform="Replace">
    <compilation targetFramework="4.0" />
  </system.web>

  <system.serviceModel xdt:Transform="Replace">
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ITwoWayAsync" maxBufferPoolSize="524288" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_ITwoWayAsync1" maxBufferPoolSize="524288" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://v-dkbiz.int.skanetrafiken.com/INTSTDK001/DirectJourneysBetweenStops.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITwoWayAsync" contract="SvcDirectJourneyBetweenStops.DirectJourneysBetweenStops" name="BasicHttpBinding_ITwoWayAsync" />
      <endpoint address="http://v-dkbiz.int.skanetrafiken.com/INTSTDK001/CallsForServiceJourney.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITwoWayAsync1" contract="SvcCallsForServiceJourney.CallsForServiceJourney" name="BasicHttpBinding_ITwoWayAsync1" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483646" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services />
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>

  <system.webServer xdt:Transform="Replace">
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>

</configuration>