<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Endeavor.Crm.Extensions.EntityExtensionMethods" version="2016.04.27" targetFramework="net452" />
  <package id="Endeavor.Crm.UnitTest.Base" version="2016.04.29" targetFramework="net452" />
  <package id="Endeavor.Crm.XrmHelper" version="1.0.1" targetFramework="net452" />
  <package id="Endeavor.Crm.XrmRetrieveHelper" version="1.0.0" targetFramework="net452" />
  <package id="Microsoft.CrmSdk.CoreAssemblies" version="6.1.1" targetFramework="net40" />
  <package id="Microsoft.IdentityModel" version="6.1.7600.16394" targetFramework="net452" />
  <package id="NUnit" version="3.4.1" targetFramework="net452" requireReinstallation="true" />
  <package id="RhinoMocks" version="3.6" targetFramework="net40" />
</packages>