<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="KbExternalWeb" type="EPiServer.Find.Configuration,EPiServer.Find" requirePermission="false" />
    <section name="KbIntranet" type="EPiServer.Find.Configuration,EPiServer.Find" requirePermission="false" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <!--<KbExternalWeb serviceUrl="http://es-api01.episerver.com/hQfEbfXA9I6uFdrB5GVBNHa8rFPDCFNp/" defaultIndex="emmaeriksson_knowledgebase"  />-->
  <!--<KbIntranet serviceUrl="http://es-api01.episerver.com/3XQ6kkHtciNbHiR9ahbuOhHahRLUS1G3/" defaultIndex="emmaeriksson_knbinternal"  />-->
  <KbIntranet serviceUrl="http://es-eu-api01.episerver.net/oJkTCERBm1VPf4iwsBsd6VXFBOtsFelv" defaultIndex="regionskaneskanetrafiken_index54092"  />
  <appSettings>
    <add key="CrmServerUrl" value="http://v-dkcrm-utv/Skanetrafiken"/>
    <add key="Domain" value="D1"/>
    <add key="Username" value="CrmAdmin"/>
    <add key="Password" value="uSEme2!nstal1"/>
  </appSettings>


</configuration>