<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Replace">
    <add key="CrmServerUrl" value="https://v9sekund.skanetrafiken.se/V9CRM"/>
    <add key="ConnectionString" value="Url=https://v9sekund.skanetrafiken.se/V9CRM; Domain=D1; Username=D1\CRMAdmin; Password=uSEme2!nstal1; authtype=IFD" />
    <add key="Domain" value="D1"/>
    <add key="Username" value="CRMAdmin"/>
    <add key="Password" value="uSEme2!nstal1"/>
    <add key="LogError" value="true"/>
    <add key="LogMessage" value="true"/>
    <add key="log4net.Internal.Debug" value="true"/>
  </appSettings>

  <system.web xdt:Transform="Replace">
    <globalization requestEncoding="iso-8859-1" responseEncoding="iso-8859-1" culture="sv-SE" uiCulture="sv-SE" />
    <compilation targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>

  <system.serviceModel xdt:Transform="Replace">
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>

  <system.webServer xdt:Transform="Replace">
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>