<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Replace">
    <add key="CrmServerUrl" value="https://sekundtst.skanetrafiken.se/DKCRMTST"/>
    <add key="ConnectionString" value="Url=https://sekundtst.skanetrafiken.se/DKCRMTST; Domain=D1; Username=D1\svcCRMPortServTST; Password=i4H!?SqUTEoNFWo7HelcDBp-; authtype=IFD" />
    <add key="Domain" value="D1"/>
    <add key="Username" value="svcCRMPortServTST"/>
    <add key="Password" value="i4H!?SqUTEoNFWo7HelcDBp-"/>
    <add key="LogError" value="true" />
    <add key="LogMessage" value="true" />
    <add key="log4net.Internal.Debug" value="true" />
  </appSettings>

  <system.web xdt:Transform="Replace">
	  <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="sv-SE" uiCulture="sv-SE" />
	  <compilation debug="true" targetFramework="4.6.2" />
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>

  <system.serviceModel xdt:Transform="Replace">
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>

  <system.webServer xdt:Transform="Replace">
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>