<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Replace">
    <add key="CrmServerUrl" value="https://sekund.skanetrafiken.se/DKCRM"/>
    <add key="ConnectionString" value="Url=https://sekund.skanetrafiken.se/DKCRM; Domain=D1; Username=D1\svcCRMPortServ; Password=t5s!?kBU7U89ItyGNq-N1kue; authtype=IFD" />
    <add key="Domain" value="D1"/>
    <add key="Username" value="svcCRMPortServ"/>
    <add key="Password" value="t5s!?kBU7U89ItyGNq-N1kue"/>
    <add key="LogError" value="true"/>
    <add key="LogMessage" value="true"/>
    <add key="log4net.Internal.Debug" value="true"/>
  </appSettings>

  <system.web xdt:Transform="Replace">
     <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="sv-SE" uiCulture="sv-SE" />
	  <compilation debug="false" targetFramework="4.6.2" />
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>

  <system.serviceModel xdt:Transform="Replace">
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>

  <system.webServer xdt:Transform="Replace">
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>