<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <!--<section name="Skanetrafiken.Crm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>-->
      <section name="Skanetrafiken.CGIXrmPortalService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <log4net configSource="log4net.config"/>
  <appSettings xdt:Transform="Replace">
    <add key="CrmServerUrl" value="https://sekundacc.skanetrafiken.se/DKCRMACC"/>
    <add key="ConnectionString" value="Url=https://sekundacc.skanetrafiken.se/DKCRMACC; Domain=D1; Username=D1\svcCRMPortServACC; Password=ju!?GSy3YrSfXb0K-QixfiHy; authtype=IFD" />
    <add key="Domain" value="D1"/>
    <add key="Username" value="svcCRMPortServACC"/>
    <add key="Password" value="ju!?GSy3YrSfXb0K-QixfiHy"/>
    <add key="LogError" value="true"/>
    <add key="LogMessage" value="true"/>
    <add key="log4net.Internal.Debug" value="true"/>
  </appSettings>

  <system.web xdt:Transform="Replace">
	  <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="sv-SE" uiCulture="sv-SE" />
	  <compilation debug="true" targetFramework="4.6.2" />
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>

  <system.serviceModel xdt:Transform="Replace">
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>

  <system.webServer xdt:Transform="Replace">
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>