<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Skanetrafiken.UECCIntegration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <appSettings>
    <add key="numberOfCompanyRolesC1" value="2" />
    <add key="numberOfCompanyRolesC2" value="1" />
    <add key="maxLimitCalls" value="1000" />
    <add key="maxConditions" value="200" />

    <add key="urlOrganizationTST" value="https://sekundtst.skanetrafiken.se/DKCRM/XRMServices/2011/Organization.svc"/>
    <add key="domainUserTST" value="D1\CRMAdmin"/>

    <add key="urlOrganizationPROD" value="https://sekund.skanetrafiken.se/DKCRM/XRMServices/2011/Organization.svc"/>
    <add key="domainUserPROD" value="D1\CRMAdmin"/>

    <add key="urlV9Organization" value="https://sekundtstv9.skanetrafiken.se/V9CRMTEST/XRMServices/2011/Organization.svc"/>
    <add key="domainV9User" value="D1\CRMAdmin"/>
    <add key="autoNumber" value="1776"/>
  </appSettings>
  
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <Skanetrafiken.UECCIntegration.Properties.Settings>
            <setting name="CredentialsFilePath" serializeAs="String">
                <value>%PROGRAMDATA%\Endeavor\Endeavor.UECCIntegration.CRMPasswordCredential.xml</value>
            </setting>
        </Skanetrafiken.UECCIntegration.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.22.0.0" newVersion="2.22.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Xrm.Sdk" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Crm.Sdk.Proxy" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory.WindowsForms" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.22.0.0" newVersion="2.22.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Xrm.Sdk.Deployment" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
