<?xml version="1.0" encoding="utf-8"?>
<log4net>
  <appender name="fileAppenderLog" type="log4net.Appender.FileAppender">
    <!-- If you change the threshold make sure that the root.level is on the same or a higher level.-->
    <!--<threshold value="DEBUG" />-->
    <file value="C:\S\CRM\MainAffarsRegler\Skanetrafiken.UECCIntegration\Endeavor.UECCIntegration.log" />
    <staticLogFileName value="false" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <datePattern value="_yyyyMMdd&quot;.log&quot;" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level %logger - %message%newline" />
    </layout>
  </appender>
  <appender name="criteria3Contacts" type="log4net.Appender.FileAppender">
    <file value="C:\S\CRM\MainAffarsRegler\Skanetrafiken.UECCIntegration\Endeavor.Criteria3Contacts.log" />
    <staticLogFileName value="false" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <datePattern value="_yyyyMMdd&quot;.log&quot;" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level %logger - %message%newline" />
    </layout>
  </appender>

  <logger name="FileAppenderLog">
    <level value="ALL" />
    <maximumfilesize value="100MB" />
    <param value="ALL" name="Threshold" />

    <appender-ref ref="fileAppenderLog" />
  </logger>

  <logger name="Criteria3Contacts">
    <level value="ALL" />
    <maximumfilesize value="100MB" />
    <param value="ALL" name="Threshold" />

    <appender-ref ref="criteria3Contacts" />
  </logger>
  
  <!--<root>
    --><!-- If you change the level make sure that the treshold set in the appenders are on the same or a higher level.--><!--
    <level value="DEBUG" />
    <appender-ref ref="FileAppenderLog" />
    <appender-ref ref="Criteria3Contacts" />
    <appender-ref ref="ErrorContacts" />
    
  </root>-->
</log4net>
