<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>

    <!--<add key="CrmServerUrl" value="http://v-dkcrm-utv/Skanetrafiken"/>-->
    <add key="CrmServerUrl" value="http://sekundacc.skanetrafiken.se/DKCRMPROD"/>
    <add key="Username" value="CRMAdmin"/>
    <add key="Password" value="uSEme2!nstal1"/>
    <add key="Domain" value="D1"/>
    <add key="FilesDir" value="D:\Test"/>
  </appSettings>
</configuration>
