<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="IntegrationDB" connectionString="Data Source=AG-SQL5-CRM-ACC;Initial Catalog=IntegrationDB;Integrated Security=false;User ID=crmstaginguser;Password=%K34hnasR31Ter56!" />
    <add name="sekundCrm" connectionString="Url=https://sekundacc.skanetrafiken.se/DKCRMACC;Domain=D1;Username=;Password;authtype=IFD" />
  </connectionStrings>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
