<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Replace">
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="CrmServerUrl" value="http://v-dkcrm-utv/DKCRM"/>
    <add key="Domain" value="D1"/>
    <add key="Username" value=""/>
    <add key="Password" value=""/>
    <add key="ehandeladdressCardDetails" value="http://www.skanetrafiken.com/DK/INTSTDK004/GetCardDetails2/20141216" />
    <add key="soapActionAddressCardDetails" value="http://v-dkbiz-tst.int.skanetrafiken.com/INTSTDK004" />
    <add key="cardDetailsServiceAddressCardDetails" value="http://v-dkbiz-tst.int.skanetrafiken.com/INTSTDK004/CardDetails2.svc" />
    <add key="ehandeladdressCardTransactions" value="http://www.skanetrafiken.com/DK/INTSTDK004/GetCardTransactions/20141216" />
    <add key="soapActionAddressCardTransactions" value="http://v-dkbiz-tst.int.skanetrafiken.com/INTSTDK004" />
    <add key="cardDetailsServiceAddressCardTransactions" value="http://v-dkbiz-tst.int.skanetrafiken.com/INTSTDK004/CardTransactions.svc" />
    <add key="ehandeladdressChargesDetails" value="http://www.skanetrafiken.com/DK/INTSTDK008.Card/GetOutstandingCharges/20150310" />
    <add key="soapActionAddressChargesDetails" value="http://v-dkbiz-tst.int.skanetrafiken.com/INTSTDK008.Card" />
    <add key="cardDetailsServiceAddressChargesDetails" value="http://v-dkbiz-tst.int.skanetrafiken.com/INTSTDK008.Card/GetOutstandingCharges.svc" />
    <add key="ehandeladdressRechargeCard" value="http://www.skanetrafiken.com/DK/INTSTDK008.Card/RechargeCardRequest/20150310" />
    <add key="soapActionAddressRechargeCard" value="http://v-dkbiz-tst.int.skanetrafiken.com/INTSTDK008.Card" />
    <add key="cardDetailsServiceAddressRechargeCard" value="http://v-dkbiz-tst.int.skanetrafiken.com/INTSTDK008.Card/RechargeCard.svc" />
  </appSettings>

  <connectionStrings xdt:Transform="Replace">
    <add name="IntegrationDB" connectionString="Data Source=V-DKSQL-UTV;Initial Catalog=IntegrationDB;Integrated Security=false;User ID=staginguser;Password=P@ssw0rd1"/>
  </connectionStrings>

  <system.web xdt:Transform="Replace">
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>

  <system.serviceModel xdt:Transform="Replace">
    <bindings />
    <client />
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>

  <system.webServer xdt:Transform="Replace">
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>
