<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Skanetrafiken.UpSalesMigration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="maxLimitCalls" value="1000" />
    <add key="urlOrganizationTST" value="https://sekundtst.skanetrafiken.se/DKCRM/XRMServices/2011/Organization.svc" />
    <add key="domainUserTST" value="D1\CRMAdmin" />
    <add key="passWordTST" value="uSEme2!nstal1" />
    <add key="urlOrganizationUAT" value="https://sekunduat.skanetrafiken.se/DKCRM/XRMServices/2011/Organization.svc" />
    <add key="domainUserUAT" value="D1\CRMAdmin" />
    <add key="passWordUAT" value="uSEme2!nstal1" />
    <add key="urlOrganizationPROD" value="https://sekund.skanetrafiken.se/DKCRM/XRMServices/2011/Organization.svc" />
    <add key="domainUserPROD" value="D1\CRMAdmin" />
    <add key="passWordPROD" value="uSEme2!nstal1" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <applicationSettings>
    <Skanetrafiken.UpSalesMigration.Properties.Settings>
      <setting name="RelativePath" serializeAs="String">
        <value>D:\Endeavor\Upsales Data\</value>
      </setting>
      <setting name="Bucket1Accounts" serializeAs="String">
        <value>Accounts\Spann 1 - unika 2020-05-27.csv</value>
      </setting>
      <setting name="Bucket5Accounts" serializeAs="String">
        <value>Accounts\Spann 5 - nya datakällor 2020-05-25.csv</value>
      </setting>
      <setting name="Bucket3SubAccounts" serializeAs="String">
        <value>Accounts\Spann 3 - subaccounts_2020-05-28.csv</value>
      </setting>
      <setting name="Contacts" serializeAs="String">
        <value>Contacts\Upsales kontakter 2020-06-08.csv</value>
      </setting>
      <setting name="Activities" serializeAs="String">
        <value>Activities\Upsales aktiviteter 2020-06-08.csv</value>
      </setting>
      <setting name="Orders" serializeAs="String">
        <value>Orders\Upsales order 2020-06-08.csv</value>
      </setting>
      <setting name="HistoricalData" serializeAs="String">
        <value />
      </setting>
      <setting name="DefaultOwner" serializeAs="String">
        <value>Kristina Paulsson</value>
      </setting>
      <setting name="DefaultCurrency" serializeAs="String">
        <value>Svensk krona</value>
      </setting>
      <setting name="PDFilesAgreements" serializeAs="String">
        <value>Agreements</value>
      </setting>
      <setting name="PDFilesReports" serializeAs="String">
        <value>Leveransrapport</value>
      </setting>
      <setting name="Bucket2Accounts" serializeAs="String">
        <value>Accounts\Spann 2 - dubbletter_2020-05-28.csv</value>
      </setting>
    </Skanetrafiken.UpSalesMigration.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Xrm.Sdk" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.22.0.0" newVersion="2.22.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Crm.Sdk.Proxy" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory.WindowsForms" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.22.0.0" newVersion="2.22.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>