<?xml version="1.0"?>
<configuration>

  <configSections>
  </configSections>
  <appSettings>

    <!--http://v-dkbiz-tst.int.skanetrafiken.com/INTSTDK008/Orders.svc-->
    <!--http://www.skanetrafiken.com/DK/INTSTDK008/GetOrders/20141031-->


    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="GetOrdersService" value="http://v-dkbiz-tst.int.skanetrafiken.com/INTSTDK008/Orders.svc" />
    
    <add key="OrderSoapActionAddress" value="http://v-dkbiz-tst.int.skanetrafiken.com/DK/INTSTDK008"/>
    <add key="OrderServiveAddress" value="http://v-dkbiz-tst.int.skanetrafiken.com/INTSTDK008/Orders.svc"/>
    <add key="Orderehandeladdress" value="http://www.skanetrafiken.com/DK/INTSTDK008/GetOrders/20141031"/>
    
    <add key="CreditOrderService" value="http://v-dkbiz-tst.int.skanetrafiken.com/INTSTDK008/CreditOrders.svc" />

    <add key="CreditSoapActionAddress" value="http://v-dkbiz-tst.int.skanetrafiken.com/DK/INTSTDK008"/>
    <add key="CreditServiveAddress" value="http://v-dkbiz-tst.int.skanetrafiken.com/INTSTDK008/CreditOrders.svc"/>
    <add key="Creditehandeladdress" value="http://www.skanetrafiken.com/DK/INTSTDK008/CreditOrder/20141031"/>
    
    <add key="CrmServerUrl" value="http://V-DKCRM-TST/Skanetrafiken"/>
    <add key="Domain" value="D1"/>
    <add key="Username" value="CRMAdmin"/>
    <add key="Password" value="uSEme2!nstal1"/>
    
    

    <!--<add key="GetOrdersService" value="http://stipacc.skanetrafiken.se/INTSTDK008/Orders.svc" />
    <add key="CreditOrderService" value="http://stipacc.skanetrafiken.se/INTSTDK008/CreditOrders.svc" />

    <add key="OrderSoapActionAddress" value="http://stipacc.skanetrafiken.se/INTSTDK008"/>
    <add key="OrderServiveAddress" value="http://stipacc.skanetrafiken.se/INTSTDK008/Orders.svc"/>
    <add key="Orderehandeladdress" value="http://www.skanetrafiken.com/DK/INTSTDK008/GetOrders/20141031"/>

    <add key="CreditSoapActionAddress" value="http://stipacc.skanetrafiken.se/INTSTDK008"/>
    <add key="CreditServiveAddress" value="http://stipacc.skanetrafiken.se/INTSTDK008/CreditOrders.svc"/>
    <add key="Creditehandeladdress" value="http://www.skanetrafiken.com/DK/INTSTDK008/CreditOrder/20141031"/>

    <add key="CrmServerUrl" value="https://sekunduat.skanetrafiken.se/DKCRMUAT"/>
    <add key="Domain" value="D1"/>
    <add key="Username" value="CRMAdmin"/>
    <add key="Password" value="uSEme2!nstal1"/>-->
    
  </appSettings>
  <connectionStrings>
      <!--<add name="IntegrationDB" connectionString="Data Source=V-DKSQL-UTV;Initial Catalog=IntegrationDB;Integrated Security=false;User ID=sa;Password=P@ssw0rd1"/>-->
      <!--<add name="IntegrationDB" connectionString="Data Source=V-DKSQL4-ACC;Initial Catalog=IntegrationDB;Integrated Security=false;User ID=crmstaginguser;Password=P@ssw0rd1"/>-->
      <add name="IntegrationDB" connectionString="Data Source=V-DKSQL2-TST;Initial Catalog=IntegrationDB;Integrated Security=false;User ID=crmstaginguser;Password=P@ssw0rd1"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text">
          <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
