<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="CrmConnection"
         connectionString="Url=http://v-dkcrm-tst/DKCRM; Domain=D1; Username=D1\svcCRMAPP01T; Password=[Encrypted]; authtype=IFD"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
</configuration>