<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="CrmServerUrl" value="https://sekunduat.skanetrafiken.se/DKCRMUAT"/>
    <add key="Domain" value="D1"/>
    <add key="Username" value="CRMAdmin"/>
    <add key="Password" value="uSEme2!nstal1"/>
    <add key="ehandeladdressCardDetails" value="http://www.skanetrafiken.com/DK/INTSTDK004/GetCardDetails2/20141216" />
    <add key="soapActionAddressCardDetails" value="http://stipacc.skanetrafiken.se/INTSTDK004" />
    <add key="cardDetailsServiceAddressCardDetails" value="http://stipacc.skanetrafiken.se/INTSTDK004/CardDetails2.svc" />
    <add key="ehandeladdressCardTransactions" value="http://www.skanetrafiken.com/DK/INTSTDK004/GetCardTransactions/20141216" />
    <add key="soapActionAddressCardTransactions" value="http://stipacc.skanetrafiken.se/INTSTDK004" />
    <add key="cardDetailsServiceAddressCardTransactions" value="http://stipacc.skanetrafiken.se/INTSTDK004/CardTransactions.svc" />
    <add key="ehandeladdressChargesDetails" value="http://www.skanetrafiken.com/DK/INTSTDK008.Card/GetOutstandingCharges/20150310" />
    <add key="soapActionAddressChargesDetails" value="http://stipacc.skanetrafiken.se/INTSTDK008.Card" />
    <add key="cardDetailsServiceAddressChargesDetails" value="http://stipacc.skanetrafiken.se/INTSTDK008.Card/GetOutstandingCharges.svc" />
    <add key="ehandeladdressRechargeCard" value="http://www.skanetrafiken.com/DK/INTSTDK008.Card/RechargeCardRequest/20150310" />
    <add key="soapActionAddressRechargeCard" value="http://stipacc.skanetrafiken.se/INTSTDK008.Card" />
    <add key="cardDetailsServiceAddressRechargeCard" value="http://stipacc.skanetrafiken.se/INTSTDK008.Card/RechargeCard.svc" />
  </appSettings>

  <system.diagnostics />

  <connectionStrings>
    <add name="IntegrationDB" connectionString="Data Source=V-DKSQL4-ACC;Initial Catalog=IntegrationDB;Integrated Security=false;User ID=crmstaginguser;Password=P@ssw0rd1"/>
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>

  <system.serviceModel>
    <bindings />
    <client />
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>
