<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="quartz" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Endeavor.Crm.CleanRecordsService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <appSettings>
      <add key="runFullData" value="false" />
      <add key="runCloseCases" value="false" />
      <add key="runInactivateContacts" value="true" />
      <add key="runDeleteAudits" value="false" />
    </appSettings>
    <quartz configSource="quartz.config" />
    <connectionStrings configSource="connections.config" />
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <applicationSettings>
      <Endeavor.Crm.CleanRecordsService.Properties.Settings>
        <setting name="CredentialsFilePathCases" serializeAs="String">
          <value>%APPDATA%\Endeavor\CloseCasesService.Credential.xml</value>
        </setting>
        <setting name="CloseCaseScheduleCronExpression" serializeAs="String">
          <value>0 0/1 * 1/1 * ? *</value>
        </setting>
        <setting name="StartDate" serializeAs="String">
          <value>2019-02-01T00:00:00Z</value>
        </setting>
        <setting name="EndDate" serializeAs="String">
          <value>2019-02-03T00:00:00Z</value>
        </setting>
        <setting name="SpecificDate" serializeAs="String">
          <value>2021-07-02T00:00:00Z</value>
        </setting>
        <setting name="CredentialsFilePathContacts" serializeAs="String">
          <value>%APPDATA%\Endeavor\InactivateContactsService.Credential.xml</value>
        </setting>
        <setting name="InactivateContactsScheduleCronExpression" serializeAs="String">
          <value>0 0/1 * 1/1 * ? *</value>
        </setting>
        <setting name="DeleteAuditScheduleCronExpression" serializeAs="String">
          <value>0 0/1 * 1/1 * ? *</value>
        </setting>
        <setting name="CredentialsFilePathAudits" serializeAs="String">
          <value>%APPDATA%\Endeavor\DeleteAuditsService.Credential.xml</value>
        </setting>
      </Endeavor.Crm.CleanRecordsService.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Xrm.Sdk" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Crm.Sdk.Proxy" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>