<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Replace">
    <add key="CrmServerUrl" value="http://v-dkcrm-tst/DKCRM"/>
    <add key="Domain" value="D1"/>
    <add key="Username" value=""/>
    <add key="Password" value=""/>
  </appSettings>

  <system.web xdt:Transform="Replace">
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>

  <system.serviceModel xdt:Transform="Replace">
    <services>
      <service name="CGIXrmEAIConnectorService.EAIConnectorService"  behaviorConfiguration="CGIXrmEAIConnectorService.EAIServiceBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="CGIXrmEAIConnectorService.IEAIConnectorService" bindingConfiguration="CGIXrmEAIConnectorService.EAIBindingConfig" />
        <endpoint address="" binding="basicHttpBinding" contract="CGIXrmEAIConnectorService.IAllBinaryService" bindingConfiguration="CGIXrmEAIConnectorService.EAIBindingConfig" />
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="CGIXrmEAIConnectorService.EAIBindingConfig" maxBufferSize="2147483647" maxReceivedMessageSize ="2147483647" sendTimeout="00:05:00" receiveTimeout="00:05:00" />
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="CGIXrmEAIConnectorService.EAIServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" minFreeMemoryPercentageToActivateService="0" />
  </system.serviceModel>

  <system.webServer xdt:Transform="Replace">
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>
