<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="CrmServerUrl" value="https://sekunduat.skanetrafiken.se/DKCRMUAT"/> 
    <add key="Domain" value="D1"/>
    <add key="Username" value="CRMAdmin"/>
    <add key="Password" value="uSEme2!nstal1"/>
    -->

    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="CrmServerUrl" value="https://sekund.skanetrafiken.se/DKCRM"/>
    <add key="Domain" value="D1"/>
    <add key="Username" value="CRMAdmin"/>
    <add key="Password" value="uSEme2!nstal1"/>

  </appSettings>
  <connectionStrings>
    <!--<add name="IntegrationDB" connectionString="Data Source=v-dksql-utv;Initial Catalog=IntegrationDB;Integrated Security=false;User ID=sa;Password=P@ssw0rd1"/>-->
      <add name="IntegrationDB" connectionString="Data Source=CLCMSDB-SQL1ACC;Initial Catalog=IntegrationDB;Integrated Security=false;User ID=crmstaginguser;Password=P@ssw0rd1"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text">
          <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>
