body {
    font-family: Tahoma;
    font-size: 12px;
}

table thead tr th, table tr th {
    color: #555555;
    font-weight: bold;
    padding: 6px;
}

#orders, #creditorders {
    width: 100%;
    padding: 5px;
    border: 0;
    border-collapse: collapse;
}

#searchfield {
    font-weight: bold;
}

.orderrow {
    border-spacing: 5px;
    background-color: #DDDDDD;
}

.hiddenrow{
    display: none;
}

.hiddentable {
    width: 100%;
    background-color: #FFFFFF;
    column-span: all;
    table-layout: fixed;
    border-collapse: collapse;
    border: 0;
    /*box-sizing: border-box;
    -moz-box-sizing: border-box;*/
}

.hiddenheading{
   background-color: #EEEEEE; 
}

tr.hiddenheading td{
    font-weight: bold;
}

.hiddenlabel{
   background-color: #EEEEEE; 
}

.datarow td{
    text-align: left;
}

th, td {
    padding: 2px;
    text-align: left;
    font-size: 12px;
    font-weight: normal;
}

input[type="text"] {
    width: 100%;
    box-sizing: border-box;
}