<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Skanetrafiken.ConsoleCrm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <Skanetrafiken.ConsoleCrm.Properties.Settings>
            <setting name="DiscoveryUri" serializeAs="String">
                <value>https://crm.endeavor.se:1444/SkanetrafikenDev/XRMServices/2011/Organization.svc</value>
            </setting>
            <setting name="ServerAddress" serializeAs="String">
                <value>https://sekund.skanetrafiken.se</value>
            </setting>
            <setting name="EndpointType" serializeAs="String">
                <value>ActiveDirectory</value>
            </setting>
            <setting name="OrganizationName" serializeAs="String">
                <value>Not Used</value>
            </setting>
            <setting name="OrganizationUri" serializeAs="String">
                <value>https://sekund.skanetrafiken.se/DKCRM/XRMServices/2011/Organization.svc</value>
            </setting>
            <setting name="HomeRealmUri" serializeAs="String">
                <value />
            </setting>
            <setting name="Domain" serializeAs="String">
                <value>D1</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>HTI</value>
            </setting>
            <setting name="UseDefaultCredential" serializeAs="String">
                <value>False</value>
            </setting>
        </Skanetrafiken.ConsoleCrm.Properties.Settings>
    </userSettings>
</configuration>
