<?xml version="1.0" encoding="utf-8"?>
<configuration  xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <configSections xdt:Transform="Replace">
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CGIXrmGetOrders.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <appSettings xdt:Transform="Replace">
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="GetOrdersService" value="http://stip.skanetrafiken.se/INTSTDK008/Orders.svc" />
    <add key="CreditOrderService" value="http://stip.skanetrafiken.se/INTSTDK008/CreditOrders.svc" />
    <add key="OrderSoapActionAddress" value="http://stip.skanetrafiken.se/INTSTDK008"/>
    <add key="OrderServiveAddress" value="http://stip.skanetrafiken.se/INTSTDK008/Orders.svc"/>
    <add key="Orderehandeladdress" value="http://www.skanetrafiken.com/DK/INTSTDK008/GetOrders/20141031"/>
    <add key="CreditSoapActionAddress" value="http://stip.skanetrafiken.se/INTSTDK008"/>
    <add key="CreditServiveAddress" value="http://stip.skanetrafiken.se/INTSTDK008/CreditOrders.svc"/>
    <add key="Creditehandeladdress" value="http://www.skanetrafiken.com/DK/INTSTDK008/CreditOrder/20141031"/>
    <add key="CrmServerUrl" value="https://sekund.skanetrafiken.se/DKCRM"/>
    <add key="Domain" value="D1"/>
    <add key="Username" value="CRMAdmin"/>
    <add key="Password" value="uSEme2!nstal1"/>
  </appSettings>

  <connectionStrings xdt:Transform="Replace">
    <add name="IntegrationDB" connectionString="Data Source=CLCMSDB-SQL1;Initial Catalog=IntegrationDB;Integrated Security=false;User ID=crmstaginguser;Password=P@ssw0rd1"/>
  </connectionStrings>
  
  <system.web xdt:Transform="Replace">
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>

  <system.serviceModel xdt:Transform="Replace">
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>

  <system.webServer xdt:Transform="Replace">
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>

  <applicationSettings xdt:Transform="Replace">
    <CGIXrmGetOrders.Properties.Settings>
      <setting name="CGIXrmGetOrders_GetOrdersServiceReference_BizTalkServiceInstance"
        serializeAs="String">
        <value>http://stip.skanetrafiken.se/INTSTDK008/Orders.svc</value>
      </setting>
      <setting name="CGIXrmGetOrders_CreditOrderServiceReference_BizTalkServiceInstance"
        serializeAs="String">
        <value>http://stip.skanetrafiken.se/INTSTDK008/CreditOrders.svc</value>
      </setting>
    </CGIXrmGetOrders.Properties.Settings>
  </applicationSettings>
</configuration>
