<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <applicationSettings>
    <Endeavor.Crm.DeltabatchService.Properties.Settings>
      <setting name="DeltabatchSendFileLocation" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>D:\DeltabatchFiles\ToSend</value>
      </setting>
      <setting name="DeltabatchRetrievedFileLocation" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>D:\DeltabatchFiles\Retrieved</value>
      </setting>
    </Endeavor.Crm.DeltabatchService.Properties.Settings>
  </applicationSettings>
</configuration>