<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Endeavor.Crm.Extensions.EntityExtensionMethods" version="2016.09.28" targetFramework="net472" />
  <package id="Endeavor.Crm.Plugin" version="2016.09.27" targetFramework="net472" />
  <package id="Endeavor.Crm.XrmHelper" version="2016.12.13" targetFramework="net472" />
  <package id="Endeavor.Crm.XrmRetrieveHelper" version="2016.12.13" targetFramework="net472" />
  <package id="Microsoft.CrmSdk.CoreAssemblies" version="9.0.0.7" targetFramework="net472" />
</packages>