body {
    font-family: Tahoma;
    font-size: 12px;
    width: 99%;
}

table {
    font-family: Tahoma;
    font-size: 12px;
    empty-cells: show;
    table-layout: fixed;
    width: 100%;
    border-spacing: 5px;
}

form{
    font-family: Tahoma;
    font-size: 12px;
    empty-cells: show;
    table-layout: fixed;
    width: 100%;
    padding: 3px;
}

#zonelist {
    background-color: #EEffEE;
    height: 100%;
}

.search {
    background-color: #EEEEEE;
    margin: 3px;
}

.zone {
    border: 1px solid black;
}

.headingrow{
    font-weight: bold;
}

.heading{
    font-weight: bold;
    color: #888888;
}

.type{
    font-weight: bold;
    color: #000000;
}

.buttonheading{
    width: 2%;
}

#deleteheading{
    width: 5%;
}

th {
    text-align: left;
}

.blankrow
{
    height: 30px;
}

#transactionstable {
    padding: 0px;
    border: 1px #AAAAAA;
    border-collapse: separate;
    border-style: solid;
    margin-bottom: 10px;
    border-spacing: 0px;
}

#transactionsbody tr:nth-child(odd){
    background: #EEEEEE;
}

#savedtransactionstable {
    padding: 0px;
    border: 1px #AAAAAA;
    border-collapse: separate;
    border-style: solid;
    border-spacing: 0px;
}
