<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--<connectionStrings xdt:Transform="Replace">
    <add name="IntegrationDB" connectionString="Data Source=CLCMSDB-SQL1ACC;Initial Catalog=IntegrationDB;Integrated Security=false;User ID=crmstaginguser;Password=P@ssw0rd1"/>
  </connectionStrings>-->
  <connectionStrings xdt:Transform="Replace">
    <add name="IntegrationDB" connectionString="Data Source=NOTUSED;Initial Catalog=IntegrationDB;Integrated Security=false;User ID=crmstaginguser;Password=%K34hnasR31Ter56!"/>
    <add name="sekundCrm" connectionString="Url=https://sekunduat.skanetrafiken.se/DKCRM;Domain=D1;Username=D1\CRMAdmin;Password=uSEme2!nstal1;authtype=IFD"/>
  </connectionStrings>
  <appSettings xdt:Transform="Replace">
    <add key="CrmServerUrl" value="https://sekunduat.skanetrafiken.se/DKCRM"/>
    <add key="Domain" value="D1"/>
    <add key="Username" value="CRMAdmin"/>
    <add key="Password" value="uSEme2!nstal1"/>
    <add key="TokenCertificateName" value="SE162321000255-F16675" />
    <add key="ClientCertificateName" value="SE162321000255-F16675" />
    <add key="CRMPlusAddress" value="https:\\crmwebapi-acc.skanetrafiken.se" />
  </appSettings>
</configuration>