<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<connectionStrings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <add name="CrmConnection"
       connectionString="Url=https://sekunduat.skanetrafiken.se/DKCRM; Domain=D1; Username=D1\svcCRMAPP01A; Password=[Encrypted]; authtype=AD"
       xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
</connectionStrings>