<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings>
    <add key="TokenValidation" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="TokenEncryptionEnabled" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="MKLTokenCertificateName" value="SE162321000255-F16679" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="MKLTokenHeaderName" value="X-StMklToken" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="InternalTokenCertificateName" value="SE162321000255-F16675" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="InternalTokenHeaderName" value="X-CRMPlusToken" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>


  <connectionStrings>
    <add name="Server=Skanetrafiken-DK, organization=DKCRM"
      connectionString="Url=https://sekunduat.skanetrafiken.se/DKCRM; authtype=AD"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>