<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings>
    <add key="TokenValidation" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="TokenEncryptionEnabled" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="MKLTokenCertificateName" value="SE162321000255-F16679" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="MKLTokenHeaderName" value="X-StMklToken" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="InternalTokenCertificateName" value="SE162321000255-F16675" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="InternalTokenHeaderName" value="X-CRMPlusToken" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

  <connectionStrings>
    <add name="Server=Skanetrafiken-DK, organization=DKCRM"
      connectionString="Url=http://v-dkcrm-tst/DKCRM; authtype=AD"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  
  <system.webServer xdt:Transform="Replace">
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <httpErrors errorMode="Detailed" />
    <security>
      <authentication>
        <iisClientCertificateMappingAuthentication enabled="true" oneToOneCertificateMappingsEnabled="false" manyToOneCertificateMappingsEnabled="true" defaultLogonDomain="">
          <oneToOneMappings>
            <clear />
          </oneToOneMappings>
          <manyToOneMappings>
            <clear />
            <add name="mkl Test" userName="endeavor\jandersson" password="[enc:AesProvider:/QRXA9zMXJptuapk0oyW4nU8nUYSZRgBrSmhRj1MC9KursrAtPkA1rcioHS+g2Gy:enc]">
              <rules>
                <add certificateField="Subject" certificateSubField="CN" matchCriteria="mkltest.skanetrafiken.se" />
              </rules>
            </add>
            <add name="sekund1 och Test" userName="endeavor\jandersson" password="[enc:AesProvider:NZ2WgrbAZThBlCHK2dAkeAXfxX9qz9MCS5/mLO/sbFHjDPFmpHA37Gd3uQIDz050:enc]">
              <rules>
                <add certificateField="Subject" certificateSubField="CN" matchCriteria="sekundtest1.skanetrafiken.se" />
              </rules>
            </add>
          </manyToOneMappings>
        </iisClientCertificateMappingAuthentication>
      </authentication>
    </security>
  </system.webServer>
  
</configuration>