<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CRM2013.SkanetrafikenPlugins.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CRM2013.SkanetrafikenPlugins.Properties.Settings>
            <setting name="CRM2013_SkanetrafikenPlugins_WebServiceReference_BizTalkServiceInstance"
                serializeAs="String">
                <value>http://v-dkbiz-tst.int.skanetrafiken.com/INTSTDK004/INTSTDK004_13.svc</value>
            </setting>
            <setting name="CRM2013_SkanetrafikenPlugins_CreateGiftcardService_BizTalkServiceInstance"
                serializeAs="String">
                <value>http://v-dkbiz-tst.int.skanetrafiken.com/INTSTDK008/CreateGiftCard.svc</value>
            </setting>
        </CRM2013.SkanetrafikenPlugins.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITwoWayAsync"/>
                <binding name="BasicHttpBinding_ITwoWayAsync1"/>
                <binding name="BasicHttpBinding_ITwoWayAsync2"/>
                <binding name="BasicHttpBinding_ITwoWayAsync3"/>
                <binding name="BasicHttpBinding_ITwoWayAsync4"/>
                <binding name="BasicHttpBinding_ITwoWayAsync5"/>
                <binding name="BasicHttpBinding_ITwoWayAsync7"/>
                <binding name="BasicHttpBinding_ITwoWayAsync6"/>
                <binding name="BasicHttpBinding_ITwoWayAsync8"/>
                <binding name="BasicHttpBinding_ITwoWayAsync9"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://v-dkbiz.int.skanetrafiken.com/INTSTDK008/CancelGiftCard.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITwoWayAsync8" contract="CancelGiftCardService.CancelGiftCard" name="BasicHttpBinding_ITwoWayAsync8"/>
            <endpoint address="http://v-dkbiz.int.skanetrafiken.com/INTSTDK008.Card/ChargeOrder.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITwoWayAsync" contract="ChargeOrderService.ChargeOrder" name="BasicHttpBinding_ITwoWayAsync"/>
            <endpoint address="http://v-dkbiz.int.skanetrafiken.com/INTSTDK008.Card/CreateCoupon.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITwoWayAsync1" contract="CreateCouponService.CreateCoupon" name="BasicHttpBinding_ITwoWayAsync1"/>
            <endpoint address="http://v-dkbiz.int.skanetrafiken.com/INTSTDK008/CreateEmailCoupon.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITwoWayAsync6" contract="CreateEmailCouponService.CreateEmailCoupon" name="BasicHttpBinding_ITwoWayAsync6"/>
            <endpoint address="http://v-dkbiz.int.skanetrafiken.com/INTSTDK008/CreateSMSCoupon.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITwoWayAsync7" contract="CreateSMSCouponService.CreateSMSCoupon" name="BasicHttpBinding_ITwoWayAsync7"/>
            <endpoint address="http://v-dkbiz.int.skanetrafiken.com/INTSTDK008.Card/GetOutstandingCharges.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITwoWayAsync2" contract="GetOutstandingChargesService.GetOutstandingCharges" name="BasicHttpBinding_ITwoWayAsync2"/>
            <endpoint address="http://v-dkbiz.int.skanetrafiken.com/INTSTDK008.Card/RechargeCard.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITwoWayAsync3" contract="RechargeCardService.RechargeCard" name="BasicHttpBinding_ITwoWayAsync3"/>
            <endpoint address="http://v-dkbiz.int.skanetrafiken.com/INTSTDK008.Card/SendValueCodeMail.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITwoWayAsync4" contract="SendValueCodeMailService.SendValueCodeMail" name="BasicHttpBinding_ITwoWayAsync4"/>
            <endpoint address="http://v-dkbiz.int.skanetrafiken.com/INTSTDK008/SyncCustomerCards.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITwoWayAsync5" contract="SyncCustomerCards.SyncCustomerCards" name="BasicHttpBinding_ITwoWayAsync5"/>
            <endpoint address="http://v-dkbiz.int.skanetrafiken.com/INTSTDK008/SyncCustomer.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITwoWayAsync9" contract="SyncCustomerService.SyncCustomer" name="BasicHttpBinding_ITwoWayAsync9"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
