<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" >
  <configSections>
     
  </configSections>
   
  <appSettings xdt:Transform="Replace">
    
    <!-- TST configuration including Cert. (PASS flow does not work with TST environment). -->
    <add key="CrmServerUrl" value="https://sekundtst.skanetrafiken.se/DKCRMTST" />
    <add key="Domain" value="D1" />
    <add key="Username" value="svcCRMExtIntPortTST" />
    <add key="Password" value="7cLKfpHN!STZLHGtbF?ASb97" />
    <add key="ConnectionString" value="Url=https://sekundtst.skanetrafiken.se/DKCRMTST; Domain=D1; Username=D1\svcCRMExtIntPortTST; Password=7cLKfpHN!STZLHGtbF?ASb97; authtype=IFD" />
    <add key="BaseUrl" value="https://sekundtst.skanetrafiken.se/DKCRMTST/main.aspx?etc={0}&amp;extraqs=id=%7b{1}%7d&amp;pagetype=entityrecord" />
    <add key="TokenCertificateName" value="SE162321000255-F16675" />
    <add key="ClientCertificateName" value="SE162321000255-F16675" />
 
  </appSettings>
  
  <system.web>
    
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
	 
		
    </assemblyBinding>
  </runtime>
</configuration>