<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" >
  <configSections>
    
  </configSections>
  
  <appSettings  xdt:Transform="Replace">
   
    <!-- ACC configuration including Cert. -->
	 <add key="CrmServerUrl" value="https://sekundacc.skanetrafiken.se/DKCRMACC" />
    <add key="Domain" value="D1" />
    <add key="Username" value="svcCRMExtIntPortACC" />
    <add key="Password" value="l4gtfLKJr3LS!EcL154QvyQI" />
    <add key="ConnectionString" value="Url=https://sekundacc.skanetrafiken.se/DKCRMACC; Domain=D1; Username=D1\svcCRMExtIntPortACC; Password=l4gtfLKJr3LS!EcL154QvyQI; authtype=IFD" />
    <add key="BaseUrl" value="https://sekundacc.skanetrafiken.se/DKCRMACC/main.aspx?etc={0}&amp;extraqs=id=%7b{1}%7d&amp;pagetype=entityrecord" />
    <add key="TokenCertificateName" value="SE162321000255-F16675" />
    <add key="ClientCertificateName" value="SE162321000255-F16675" />  
  </appSettings>
  
  <system.web>
    
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
	  
    </assemblyBinding>
  </runtime>
</configuration>