<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" >
	<configSections>

	</configSections>

	<appSettings xdt:Transform="Replace">
     
	  <!--PROD configuration including Cert.-->
   <add key="CrmServerUrl" value="https://sekund.skanetrafiken.se/DKCRM" />
    <add key="Domain" value="D1" />
    <add key="Username" value="svcCRMExtIntPort" />
    <add key="Password" value="hGHTNie5juhPL!K7RUSUeiOU" />
    <add key="ConnectionString" value="Url=https://sekund.skanetrafiken.se/DKCRM; Domain=D1; Username=D1\svcCRMExtIntPort; Password=hGHTNie5juhPL!K7RUSUeiOU; authtype=IFD" />
    <add key="BaseUrl" value="https://sekund.skanetrafiken.se/DKCRM/main.aspx?etc={0}&amp;extraqs=id=%7b{1}%7d&amp;pagetype=entityrecord" />
    <add key="TokenCertificateName" value="SE162321000255-F16673" />
    <add key="ClientCertificateName" value="SE162321000255-F16673" /> 
     
  </appSettings>
   
  <system.web>
    
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
	 
		
    </assemblyBinding>
  </runtime>
</configuration>