<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <userSettings>
    <Endeavor.Crm.UnitTest.Properties.Settings xdt:Transform="Replace">
      <!--<setting name="UserName" serializeAs="String">
        <value />
      </setting>
      <setting name="UseDefaultCredentials" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EndpointType" serializeAs="String">
        <value>ActiveDirectory</value>
      </setting>
      <setting name="HomeRealmUri" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerAddress" serializeAs="String">
        <value>https://crm.endeavor.se</value>
      </setting>
      <setting name="OrganizationName" serializeAs="String">
        <value>DKCRM</value>
      </setting>
      <setting name="Domain" serializeAs="String">
        <value>endeavor</value>
      </setting>
      <setting name="OrganizationUri" serializeAs="String">
        <value>https://crm.endeavor.se:1446/DKCRM/XRMServices/2011/Organization.svc</value>
      </setting>
      <setting name="DiscoveryUri" serializeAs="String">
        <value>https://crm.endeavor.se:1446/XRMServices/2011/Discovery.svc</value>
      </setting>-->
      <setting name="UserName" serializeAs="String">
        <value />
      </setting>
      <setting name="UseDefaultCredentials" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EndpointType" serializeAs="String">
        <value>Federation</value>
      </setting>
      <setting name="HomeRealmUri" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerAddress" serializeAs="String">
        <value>https://sekunduat.skanetrafiken.se</value>
      </setting>
      <setting name="OrganizationName" serializeAs="String">
        <value>DKCRM</value>
      </setting>
      <setting name="OrganizationUri" serializeAs="String">
        <value>https://sekundtst.skanetrafiken.se/DKCRM/XRMServices/2011/Organization.svc</value>
      </setting>
      <setting name="DiscoveryUri" serializeAs="String">
        <value>https://sekundtst.skanetrafiken.se/XRMServices/2011/Discovery.svc</value>
      </setting>
      <setting name="Domain" serializeAs="String">
        <value>D1</value>
      </setting>
    </Endeavor.Crm.UnitTest.Properties.Settings>
  </userSettings>
</configuration>