<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Endeavor.Crm.Extensions.EntityExtensionMethods" version="2018.05.23" targetFramework="net462" />
  <package id="Endeavor.Crm.Plugin" version="2021.02.01" targetFramework="net462" />
  <package id="Endeavor.Crm.XrmHelper" version="2016.12.13" targetFramework="net462" />
  <package id="Endeavor.Crm.XrmRetrieveHelper" version="2016.12.13" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.CoreAssemblies" version="9.0.0.7" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.Workflow" version="9.0.0.7" targetFramework="net462" />
</packages>