<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Skanetrafiken.MultiQService.UnitTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.22.0.0" newVersion="2.22.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory.WindowsForms" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.22.0.0" newVersion="2.22.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Skanetrafiken.MultiQService.UnitTest.Properties.Settings>
      <setting name="HomeRealmUri" serializeAs="String">
        <value />
      </setting>
      <setting name="EndpointType" serializeAs="String">
        <value>ActiveDirectory</value>
      </setting>
      <setting name="DiscoveryUri" serializeAs="String">
        <value>https://sekundtst.skanetrafiken.se/XRMServices/2011/Discovery.svc</value>
      </setting>
      <setting name="Domain" serializeAs="String">
        <value>D1</value>
      </setting>
      <setting name="OrganizationName" serializeAs="String">
        <value>DKCRM</value>
      </setting>
      <setting name="OrganizationUri" serializeAs="String">
        <value>https://sekundtst.skanetrafiken.se/DKCRM/XRMServices/2011/Organization.svc</value>
      </setting>
      <setting name="ServerAddress" serializeAs="String">
        <value>http://sekundtst.skanetrafiken.se</value>
      </setting>
      <setting name="UserName" serializeAs="String">
        <value />
      </setting>
      <setting name="UserPrincipalName" serializeAs="String">
        <value />
      </setting>
      <setting name="UseDefaultCredentials" serializeAs="String">
        <value>False</value>
      </setting>
    </Skanetrafiken.MultiQService.UnitTest.Properties.Settings>
  </userSettings>
</configuration>