<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <applicationSettings>
    <Endeavor.Crm.BiffIntegration.Properties.Settings xdt:Transform="Replace">
      <setting name="CredentialsFilePath" serializeAs="String">
        <value>%PROGRAMDATA%\Endeavor\Endeavor.BiffIntegration.CRMPasswordCredential.xml</value>
      </setting>
      <setting name="DefaultJobGroup" serializeAs="String">
        <value>Crm Group</value>
      </setting>
      <!-- Daily at 0530: 0 30 5 1/1 * ? * 
           Every two h: 0 0 0/2 1/1 * ? *    -->
      <setting name="ScheduleRefreshCronExpression" serializeAs="String">
        <value>0 0 0/2 1/1 * ? *</value>
      </setting>
      <setting name="CRMTravelCardDBServerName" serializeAs="String">
        <value>DKSQL-CL1-AGCRM</value>
      </setting>
      <setting name="CRMTravelCardDBUserName" serializeAs="String">
        <value>n/a</value>
      </setting>
      <setting name="CredentialsFilePathSQLPassword" serializeAs="String">
        <value>not used</value>
      </setting>
      <setting name="CRMTravelCardDBName" serializeAs="String">
        <value>CrmTravelCards</value>
      </setting>
      <setting name="CRMTravelCardDBUseIntegratedSecurity" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BIFFDBServerName" serializeAs="String">
        <value>V-DW</value>
      </setting>
      <setting name="BIFFDBName" serializeAs="String">
        <value>STDW</value>
      </setting>
    </Endeavor.Crm.BiffIntegration.Properties.Settings>
  </applicationSettings>
</configuration>