<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="Replace">
    <add name="IntegrationDB" connectionString="Data Source=V-DKSQL2-TST;Initial Catalog=IntegrationDB;Integrated Security=false;User ID=crmstaginguser;Password=P@ssw0rd1"/>
  </connectionStrings>
  <appSettings xdt:Transform="Replace">
    <add key="CrmServerUrl" value="http://v-dkcrm-tst/DKCRM"/>
    <add key="Domain" value="D1"/>
    <add key="Username" value="CRMAdmin"/>
    <add key="Password" value="uSEme2!nstal1"/>
    <add key="TokenCertificateName" value="SE162321000255-F16675" />
    <add key="ClientCertificateName" value="SE162321000255-F16675" />
    <add key="CRMPlusAddress" value="https:\\crmwebapi-tst.skanetrafiken.se" />
  </appSettings>
</configuration>