<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.0.0" targetFramework="net452" />
  <package id="Common.Logging.Core" version="3.0.0" targetFramework="net452" />
  <package id="Endeavor.Crm.CrmConnection" version="2018.09.05" targetFramework="net452" />
  <package id="log4net" version="2.0.12" targetFramework="net452" />
  <package id="Microsoft.CrmSdk.CoreAssemblies" version="9.0.2.28" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.Deployment" version="9.0.2.28" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.Workflow" version="9.0.2.28" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.XrmTooling.CoreAssembly" version="9.1.0.51" targetFramework="net462" />
  <package id="Microsoft.IdentityModel" version="7.0.0" targetFramework="net452" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="3.19.8" targetFramework="net462" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.20" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net462" />
  <package id="Quartz" version="2.3.3" targetFramework="net462" />
</packages>