<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Replace">
    <add key="Username" value="CrmAdmin" />
    <add key="Password" value="uSEme2!nstal1" />
    <add key="Domain" value="D1" />
    <add key="CrmAdress" value="https://sekund.skanetrafiken.se/DKCRM" />
  </appSettings>
</configuration>