<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Endeavor.Crm.EntityGeneratorJS" version="2017.09.08.1" targetFramework="net452" />
  <package id="Endeavor.Crm.Extensions.EntityExtensionMethods" version="2016.09.28" targetFramework="net452" />
  <package id="Endeavor.Crm.JavaScript.Common" version="2016.11.28.1" targetFramework="net452" />
  <package id="Endeavor.Crm.Plugin" version="2016.10.03" targetFramework="net452" />
  <package id="Endeavor.Crm.XrmHelper" version="2016.12.13" targetFramework="net452" />
  <package id="Endeavor.Crm.XrmRetrieveHelper" version="2016.12.13" targetFramework="net452" />
  <package id="EntityGenerator" version="2016.11.18" targetFramework="net452" />
  <package id="jose-jwt" version="2.2.0" targetFramework="net452" />
  <package id="Microsoft.CrmSdk.CoreAssemblies" version="8.1.0.2" targetFramework="net452" />
  <package id="Microsoft.IdentityModel" version="6.1.7600.16394" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net452" />
  <package id="SdkSoapActionMessageGenerator" version="2016.04.04" targetFramework="net452" />
</packages>