<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="IntegrationDB" connectionString="Data Source=V-DKSQL-UTV;Initial Catalog=IntegrationDB;Integrated Security=false;User ID=staginguser;Password=P@ssw0rd1" />
  </connectionStrings>
  <appSettings>
    <add key="CrmServerUrl" value="http://v-dkcrm-utv/Skanetrafiken" />
    <add key="Domain" value="D1" />
    <add key="Username" value="CRMAdmin" />
    <add key="Password" value="uSEme2!nstal1" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>