<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Username" value="CrmAdmin" />
    <add key="Password" value="uSEme2!nstal1" />
    <add key="Domain" value="D1" />
    <add key="CrmAdress" value="https://sekunduat.skanetrafiken.se/DKCRMUAT" />
  </appSettings>
</configuration>