<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.serviceModel xdt:Transform="Replace">
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICMSIndexService" />
        <binding name="BasicHttpBinding_IPubTransService" />
        <binding name="BasicHttpBinding_IExtConnectorService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://v-dkcrm-utv:4001/ExtConnectorService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICMSIndexService"
          contract="WCFService.ICMSIndexService" name="BasicHttpBinding_ICMSIndexService" />
      <endpoint address="http://v-dkcrm-utv:4001/ExtConnectorService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPubTransService"
          contract="WCFService.IPubTransService" name="BasicHttpBinding_IPubTransService" />
      <endpoint address="http://v-dkcrm-utv:4001/ExtConnectorService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IExtConnectorService"
          contract="WCFService.IExtConnectorService" name="BasicHttpBinding_IExtConnectorService" />
    </client>
  </system.serviceModel>
</configuration>