<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Endeavor.Crm.UnitTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Server=sekundtst.skanetrafiken.se, organization=DKCRM, user=D1\CRMAdmin" connectionString="Url=http://sekundtst.skanetrafiken.se/DKCRM; Domain=D1; Username=D1\CRMAdmin; Password=[Encrypted]; authtype=AD" />
    <!--<add name="DKCRM" connectionString="Url=http://sekundtst.skanetrafiken.se/DKCRM; Domain=D1; Username=D1\CRMAdmin; Password=uSEme2!nstal1; AuthType=AD;"/>-->
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.22.0.0" newVersion="2.22.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory.WindowsForms" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.22.0.0" newVersion="2.22.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Xrm.Sdk" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Crm.Sdk.Proxy" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Xrm.Sdk.Deployment" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Endeavor.Crm.UnitTest.Properties.Settings>
      <setting name="HomeRealmUri" serializeAs="String">
        <value />
      </setting>
      <setting name="EndpointType" serializeAs="String">
        <value>ActiveDirectory</value>
      </setting>
      <setting name="UserPrincipalName" serializeAs="String">
        <value />
      </setting>
      <setting name="UseDefaultCredentials" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Domain" serializeAs="String">
        <value>D1</value>
      </setting>
      <setting name="OrganizationName" serializeAs="String">
        <value>DKCRM</value>
      </setting>
      <setting name="ServerAddress" serializeAs="String">
        <value>sekundtst.skanetrafiken.se</value>
      </setting>
      <setting name="UserName" serializeAs="String">
        <value>CRMAdmin</value>
      </setting>
      <setting name="DiscoveryUri" serializeAs="String">
        <value>http://sekundtst.skanetrafiken.se/XRMServices/2011/Discovery.svc</value>
      </setting>
      <setting name="OrganizationUri" serializeAs="String">
        <value>https://sekundtst.skanetrafiken.se/DKCRM/XRMServices/2011/Organization.svc</value>
      </setting>
    </Endeavor.Crm.UnitTest.Properties.Settings>
  </userSettings>
</configuration>