<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Replace">
    <add key="CrmServerUrl" value="https://crm.endeavor.se:1444/SkanetrafikenDev" />
    <add key="Username" value="jandersson" />
    <add key="Password" value="ThaLongPass" />
    <add key="Domain" value="endeavor" />
    <add key="FilesDir" value="C:\Temp\InFiles" />
    <add key="Backup" value="C:\temp\ProcessedFiles" />
  </appSettings>
</configuration>