<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <!-- Online using Office 365 -->
  <!-- <add name="Server=CRM Online, organization=SkanetrafikenDev, user=user@endeavor.se"
       connectionString="Url=https://endeavordevscheduleengine.crm4.dynamics.com; Username=user@endeavor.se; Password=[Encrypted]; authtype=Office365"/>-->

  <!-- On-premises with provided user credentials -->
  <!--<add name="Server=crm.endeavor.se, organization=SkanetrafikenDev, user=endeavor\teoost"
         connectionString="Url=https://crm.endeavor.se:1446/DKCRM; Domain=endeavor; Username=teoost; Password=[Encrypted]; authtype=AD"/> -->
         
  <!-- On-premises using Windows integrated security -->
    <!--
  <add name="CrmConnection"
         connectionString="Url=https://crm.endeavor.se:1446/DKCRM; authtype=AD"/>-->

  <!-- On-premises using Windows integrated security -->
  <add name="CrmConnection"
         connectionString="Url=http://v-dkcrm-tst/DKCRMTEST; authtype=AD"/>

  <!-- On-Premises (IFD) with claims -->
  
  <!--<add name="CrmConnection"
         connectionString="Url=https://crm.endeavor.se:1446/DKCRM; Domain=endeavor; Username=endeavor\teoost; Password=[Encrypted]; authtype=IFD"/>-->
  
</connectionStrings>
