<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="Replace">
    <add name="IntegrationDB" connectionString="Data Source=V-DKSQL-UTV;Initial Catalog=IntegrationDB;Integrated Security=false;User ID=staginguser;Password=P@ssw0rd1"/>
  </connectionStrings>
  <appSettings xdt:Transform="Replace">
    <add key="CrmServerUrl" value="https://crm.endeavor.se:1444/SkanetrafikenDev"/>
    <add key="Domain" value="endeavor"/>
    <add key="Username" value="extdev"/>
    <add key="Password" value="Dynamics2015!"/>
    <add key="TokenCertificateName" value="SE162321000255-F16675" />
    <add key="ClientCertificateName" value="SE162321000255-F16675" />
    <add key="CRMPlusAddress" value="https:\\crmwebapi-tst.skanetrafiken.se" />
  </appSettings>
</configuration>