<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Replace">
    <add key="CrmServerUrl" value="https://sekund2016.skanetrafiken.se/DKCRM2016" />
    <add key="ConnectionString" value="Url=https://sekund2016.skanetrafiken.se/DKCRM2016; Domain=D1; Username=D1\CRMAdmin; Password=uSEme2!nstal1; authtype=IFD" />
    <add key="Domain" value="D1" />
    <add key="Username" value="CRMAdmin" />
    <add key="Password" value="uSEme2!nstal1" />
    <add key="JobName" value="FaceBook" />
    <add key="LogMessage" value="true" />
    <add key="LogTrace" value="true" />
    <add key="LogError" value="true" />
    <add key="ActivityType" value="chat" />
    <!--<add key="ActivityType" value="facebook"/>-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>