<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Replace">
    <add key="CrmServerUrl" value="https://crm.endeavor.se:1444/SkanetrafikenDev" />
    <add key="ConnectionString" value="Url=https://crm.endeavor.se:1444/SkanetrafikenDev; Domain=endeavor; Username=marcus.stenswed@endeavor.se; Password=EndeavorPass; authtype=IFD" />
    <add key="Domain" value="endeavor" />
    <add key="Username" value="jandersson" />
    <add key="Password" value="LongPassFromHell" />
    <add key="JobName" value="FaceBook" />
    <add key="LogMessage" value="true" />
    <add key="LogTrace" value="true" />
    <add key="LogError" value="true" />
    <add key="ActivityType" value="chat" />
    <!--<add key="ActivityType" value="facebook"/>-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>

</configuration>