<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="CrmServerUrl" value="http://V-DKCRM-UTV/Skanetrafiken"/>
    <add key="Domain" value="D1"/>
    <add key="Username" value="CRMAdmin"/>
    <add key="Password" value="uSEme2!nstal1"/>
    <add key="ehandeladdressCardDetails" value="http://INTSTDK004aaaaaaaaa.EHandel.Schemas.GetCardDetails2.20140826" />
    <add key="soapActionAddressCardDetails" value="http://v-dkbiz-tstaaaaaaa.int.skanetrafiken.com/INTSTDK004" />
    <add key="cardDetailsServiceAddressCardDetails" value="http://v-dkbiz-tstaaaaaaa.int.skanetrafiken.com/INTSTDK004/INTSTDK004_01.svc" />
    <add key="ehandeladdressCardTransactions" value="http://INTSTDK004aaaaaaa.STIP.Schemas.GetCardTransactions" />
    <add key="soapActionAddressCardTransactions" value="http://v-dkbiz-tstaaaaaa.int.skanetrafiken.com/INTSTDK004" />
    <add key="cardDetailsServiceAddressCardTransactions" value="http://v-dkbiz-tstaaaaaaaaa.int.skanetrafiken.com/INTSTDK004/GetCardTransactions.svc" />
  </appSettings>
  <connectionStrings>
    <add name="IntegrationDB" connectionString="Data Source=V-DKSQL-UTV;Initial Catalog=IntegrationDB;Integrated Security=false;User ID=sa;Password=P@ssw0rd1"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <bindings />
    <client />
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
