<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Replace">
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="CrmServerUrl" value="https://sekund.skanetrafiken.se/DKCRM"/>
    <add key="ConnectionString" value="Url=https://sekund.skanetrafiken.se/DKCRM; Domain=D1; Username=D1\CRMAdmin; Password=uSEme2!nstal1; authtype=IFD" />
    <add key="Domain" value="D1"/>
    <add key="Username" value="CRMAdmin"/>
    <add key="Password" value="uSEme2!nstal1"/>
    <add key="ehandeladdressCardDetails" value="http://www.skanetrafiken.com/DK/INTSTDK004/GetCardDetails2/20141216" />
    <add key="soapActionAddressCardDetails" value="http://stip.skanetrafiken.se/INTSTDK004" />
    <add key="cardDetailsServiceAddressCardDetails" value="http://stip.skanetrafiken.se/INTSTDK004/CardDetails2.svc" />
    <add key="ehandeladdressCardTransactions" value="http://www.skanetrafiken.com/DK/INTSTDK004/GetCardTransactions/20141216" />
    <add key="soapActionAddressCardTransactions" value="http://stip.skanetrafiken.se/INTSTDK004" />
    <add key="cardDetailsServiceAddressCardTransactions" value="http://stip.skanetrafiken.se/INTSTDK004/CardTransactions.svc" />
    <add key="ehandeladdressChargesDetails" value="http://www.skanetrafiken.com/DK/INTSTDK008.Card/GetOutstandingCharges/20150310" />
    <add key="soapActionAddressChargesDetails" value="http://stip.skanetrafiken.se/INTSTDK008.Card" />
    <add key="cardDetailsServiceAddressChargesDetails" value="http://stip.skanetrafiken.se/INTSTDK008.Card/GetOutstandingCharges.svc" />
    <add key="ehandeladdressRechargeCard" value="http://www.skanetrafiken.com/DK/INTSTDK008.Card/RechargeCardRequest/20150310" />
    <add key="soapActionAddressRechargeCard" value="http://stip.skanetrafiken.se/INTSTDK008.Card" />
    <add key="cardDetailsServiceAddressRechargeCard" value="http://stip.skanetrafiken.se/INTSTDK008.Card/RechargeCard.svc" />
  </appSettings>

  <system.diagnostics xdt:Transform="Replace">
    <sources>
      <source name="System.ServiceModel"
              switchValue="Error"
              propagateActivity="true" >
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
      <source name="myUserTraceSource"
              switchValue="Error">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData="c:\temp\TravelCardServiceTracesTemp.svclog" />
    </sharedListeners>
  </system.diagnostics>

  <connectionStrings xdt:Transform="Replace">
    <add name="IntegrationDB" connectionString="Data Source=DKSQL-CL1-AGCRM;Initial Catalog=IntegrationDB;Integrated Security=false;User ID=crmstaginguser;Password=%K34hnasR31Ter56!"/>
  </connectionStrings>

  <system.web xdt:Transform="Replace">
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>

  <system.serviceModel xdt:Transform="Replace">
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ITwoWayAsync" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://stip.skanetrafiken.se/INTSTDK004/GetCardTransactions.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITwoWayAsync"
        contract="BIFFBiz.GetCardTransactions" name="BasicHttpBinding_ITwoWayAsync" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>

  <system.webServer xdt:Transform="Replace">
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
