<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITwoWayAsync" />
                <binding name="BasicHttpBinding_ICMSIndexService" />
                <binding name="BasicHttpBinding_IPubTransService" />
                <binding name="BasicHttpBinding_IExtConnectorService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://v-dkbiz2-acc.int.skanetrafiken.com/INTSTDK013/Kunskapsartiklar.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITwoWayAsync"
                contract="WCFService_Biztalk_Internal.Kunskapsartiklar" name="BasicHttpBinding_ITwoWayAsync" />
            <endpoint address="http://sekunduat.skanetrafiken.se:4001/ExtConnectorService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICMSIndexService"
                contract="ExtConnectorService.ICMSIndexService" name="BasicHttpBinding_ICMSIndexService" />
            <endpoint address="http://sekunduat.skanetrafiken.se:4001/ExtConnectorService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPubTransService"
                contract="ExtConnectorService.IPubTransService" name="BasicHttpBinding_IPubTransService" />
            <endpoint address="http://sekunduat.skanetrafiken.se:4001/ExtConnectorService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IExtConnectorService"
                contract="ExtConnectorService.IExtConnectorService" name="BasicHttpBinding_IExtConnectorService" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
