<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICreateCase" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://v-dkcrm-utv:4500/CGIXrmCreateCaseService/CreateCase.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICreateCase"
                contract="Service.ICreateCase" name="BasicHttpBinding_ICreateCase" />
        </client>
    </system.serviceModel>
</configuration>