<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Endeavor.Crm.UnitTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Skanetrafiken.Crm.Workflow.UnitTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Endeavor.Crm.UnitTest.Properties.Settings>
            <setting name="UseDefaultCredentials" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HomeRealmUri" serializeAs="String">
                <value />
            </setting>
            <setting name="EndpointType" serializeAs="String">
                <value>ActiveDirectory</value>
            </setting>
            <setting name="DiscoveryUri" serializeAs="String">
                <value>https://crm.endeavor.se:1446/XRMServices/2011/Discovery.svc</value>
            </setting>
            <setting name="Domain" serializeAs="String">
                <value>endeavor</value>
            </setting>
            <setting name="OrganizationName" serializeAs="String">
                <value>SkanetrafikenDev</value>
            </setting>
            <setting name="OrganizationUri" serializeAs="String">
                <value>https://crm.endeavor.se:1446/DKCRM/XRMServices/2011/Organization.svc</value>
            </setting>
            <setting name="ServerAddress" serializeAs="String">
                <value>https://crm.endeavor.se:1446</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="UserPrincipalName" serializeAs="String">
                <value />
            </setting>
        </Endeavor.Crm.UnitTest.Properties.Settings>
        <Skanetrafiken.Crm.Workflow.UnitTest.Properties.Settings>
            <setting name="UseDefaultCredentials" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HomeRealmUri" serializeAs="String">
                <value />
            </setting>
            <setting name="EndpointType" serializeAs="String">
                <value>ActiveDirectory</value>
            </setting>
            <setting name="DiscoveryUri" serializeAs="String">
                <value>https://crm.endeavor.se:1446/XRMServices/2011/Discovery.svc</value>
            </setting>
            <setting name="Domain" serializeAs="String">
                <value>endeavor</value>
            </setting>
            <setting name="OrganizationName" serializeAs="String">
                <value>SkanetrafikenDev</value>
            </setting>
            <setting name="OrganizationUri" serializeAs="String">
                <value>https://crm.endeavor.se:1446/DKCRM/XRMServices/2011/Organization.svc</value>
            </setting>
            <setting name="ServerAddress" serializeAs="String">
                <value>crm.endeavor.se</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>teoost</value>
            </setting>
            <setting name="UserPrincipalName" serializeAs="String">
                <value />
            </setting>
        </Skanetrafiken.Crm.Workflow.UnitTest.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Xrm.Sdk" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Crm.Sdk.Proxy" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Xrm.Sdk.Deployment" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" /></startup></configuration>
